body {
  font-family: roboto;
  font-size: 100%;
}

iframe {
  margin: auto;
  display: block;
  border-style: none;
}

html {
  scroll-behavior: smooth;
}

#navbar {
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: #dadada;
}

#navbar li {
  align-items: center;
  text-decoration: none;
  font-family: Roboto;
  font-size: 24px;
  width: 100%;
  display: inline;
  padding: 10px 25px;
}

.center {
  margin: auto;
  width: 50%;
  padding 10px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li a {
  list-style: none;
  display: inline-block;
  margin: 20px;
}

#profile {
  max-width: 50%;
}

#main-pic {
  max-width: 50%;
}

section {
  width: 100%;
  height: 100%;
}

p {
  font-family: roboto;
  font-size: 16;
}

h1 {
  font-family: robot;
  font-size: 24;
}

li {
  align-items: center;
  flex-direction: row;
}

@media screen and (min-width: 480px) {
  body {

  }
}

.about {
  padding: 2px;
  font-style: normal;
}

.container {
  padding: 10px 10%;
}
.container nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

div > row {
  align-items: center;
}

#home {
  background-color: #5f6ea0;
  height: 100%;
}

#about {
  backgound-color: #edf663;
}

#services {
  background-color: #31baff;
}

#portfolio {
  background-color: #7289da;
}

@keyframes bounce {
}
